.drag{
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        position:absolute;
        font-size: 1.5em;
        width: auto;
        padding: 0.5em;
        
        
    }
.drag *{
        width: 17px;
        pointer-events: none;
}
.fa-circle{
    align-self: flex-end;
    font-size: 0.3em;
}

#header{
    border-bottom: ridge;
    display: flex;
    justify-content: space-evenly;
}
#header p *{
        width: 17px;
}
#createButtonButton {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    *{
        font-size: xx-large;
    }
}
